* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #cad9e6;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

blockquote {
  margin: 0;
}

button {
  cursor: pointer;
}